body {
    margin: 0;
    padding: 0;

    background: white;
    color: #222222;
    font-family: Chandas, serif;
}

a {
    color: #11085e;
    transition: 200ms all;
}

a:hover {
    color: #efd30e
}

a:active {
    color: red;
}

.container {
    margin: 0 20%;
}

.block {
    margin-top: 5%;
    border: 1px solid #222222;
    padding: 20px;
    margin-bottom: 20px;
}

.block h2 {
    margin-bottom: 5px;
}

.info {
    margin-top: 20px;
}

.im {
    display: inline;
}

.im img {
    width: 200px;
    border-radius: 50%;
}

.links a {
    text-decoration: none;
}

.content {
    text-align: justify;
    text-indent: 3%;
}

.content p {
    margin-top: 0;
}

.content h3 {
    margin-bottom: 5px;
}